{% include 'header.html' %}
{% include 'navbar.html' %}
<div class="container">
	{% set idx = 1%}
	<table>
		<thead>
			<tr>
				<th>Rank</th>
				<th>Name</th>
				<th>Score</th>
			</tr>
		</thead>
		<tbody>
		{% for row in scores %}
			<tr>
				<th>{% if idx == 1 %}🥇{% elif idx == 2 %}🥈{% elif idx == 3 %}🥉{% else %}{{ idx }}{% endif %}</th>
				<th>{{ row[0] }}</th>
				<th>{{ row[1] }}</th>
			</tr>
			{% set idx = idx + 1 %}
		{% endfor %}
		</tbody>
	</table>
</div>
{% include 'footer.html' %}
